*configuration 4.2                              # ESP-r model configuration
*date Tue Apr  7 16:50:37 2026                  # latest modification
*base_name SemiDetached_2F                      # base name for model files
*indx    1                                      # building only
#
# ---- model folders ----
*zonpth ../zones                                # path to zone files
*netpth ../nets                                 # path to network files
*ctlpth ../ctl                                  # path to control files
*mscpth ../msc                                  # path to miscel. files
*radpth ../rad                                  # path to radiance files
*imgpth ../images                               # path to project images
*docpth ../doc                                  # path to project documents
*dbspth ../dbs                                  # path to local databases
*tmppth ../tmp                                  # path to temporary files
#
# ---- databases ----
*stdmat material.db
*stdcfcdb CFClayers.db2.a
*mlc ../dbs/copied_cons.constrdb
*stdopt optics.db
*stdprs pressc.db1
*stdevn profiles.db2.a
*clm ../dbs/fintryclimate.epw
*stdmscldb mscomp.db1
*stdmould  mould.db1
*stdpdb plantc.db1
*stdsbem SBEM.db1
*stdpredef predefined.db1
#
# ---- documentation and images ----
*notes ../doc/SemiDetached_2F.log               # associated notes about the project
#
# ---- year and seasons ----
*year 2026                                      # assessment year
# 
# ---- project day types ----
*daytag weekdays, weekdays (all year), 260      # day type name, menu entry, instances
*daytag saturday, Saturdays (all year),  52
*daytag sunday, Sundays (all year),  52
*daytag holiday, holiday,   1
*day_types    4                                 # day types & type for each day of year
 4,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1, 
 1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2, 
 3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1, 
 1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1, 
 1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3, 
 1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1, 
 2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1, 
 1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1,1,2,3,1,1,1,1
#
# ---- site ----
*latlong  56.056   -4.223                       # latitude & longitude difference (from reference meridian)
*site       1   0.200                           # exposure: typical city centre & ground reflectivity
*sitealt  100.0                                 # site altitude (m)
*ground
# tag     depth monthly temperatures description
*monthly   0.3   5.2   4.6   5.6   7.3   9.5  11.8  14.1  14.8  12.9  10.3   6.8   5.7 Fintry_Ground_Temp
*ground_end
*surf_heat_transfer     1    2                  # A&H inside MoWiTT outside htc
#
# ---- model controls ----
*ctl ../ctl/SemiDetached_2F.ctl                 # model control file
*spf pv
#
# ---- simulation directives ----
*radcore  1                                     # cores available to Radiance
*slr_half_hr  0                                 # solar data hour centred
*water_in_zones  0.6  998.2 4190.0    0.0       # water cond, density, spec heat, shortwave abs
*sps    1   1   4  10   4   0                   # parameter sets, default startup, zone & plant ts, save level & frequency
*set    3   2  10   4   0   1   1  31  12  annual  # startup, zone & plant ts, save level, @ ts, period start DM & end DM
*sblr ../tmp/annual.res
#
# ---- building attributes ----
*building  Semi-Detached, 2-floor archetype
*zones    3                                     # number of zones
*zon   1                                        # reference for flr0
*opr ../zones/flr0.opr                          # schedules
*geo ../zones/flr0.geo                          # geometry
*con ../zones/flr0.con                          # constructions
*zon   2                                        # reference for flr1
*opr ../zones/flr1.opr
*geo ../zones/flr1.geo
*con ../zones/flr1.con
*zon   3                                        # reference for attic
*opr ../zones/attic.opr
*geo ../zones/attic.geo
*con ../zones/attic.con
#
# ---- building topology ----
*cnn SemiDetached_2F.cnn                        # surface connections file
#
# ---- networks ----
*flow none                                      # no fluid flow network
*plant none                                     # no system network
